@using ArikteeFoods.Models.DTOs;
<div class="col-md-6 col-lg-4 col-xl-3 mb-2">
    <div class="card">
        <div class="card-body text-center">
            <img src="@Product.ProductImageUrl" alt="@Product.ProductName image" class="img-fluid" />
            <h6 class="card-title fw-bold mt-3">@Product.ProductName</h6>
            <p>From ₦@BasePrice / @BaseUnit</p>
            <a href="/Product/@Product.Id" class="add-to-cart btn">View Product</a>
        </div>
    </div>
</div>

