@page "/home"
@using Blazored.Toast
@using Blazored.Toast.Services
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

@if (!FoodProducts.Any() && ErrorMessage == null)
{
    <LoadingSpinner />
}
else if (ErrorMessage != null)
{
    <DisplayError ErrMessage="@ErrorMessage" />
}
else
{
    <h3 class="mb-2">Products</h3>
    <div class="search-bar text-center mb-4">
        <input @bind-value="@searchText" @bind-value:event="oninput"
               placeholder="Search..." />
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    if (FoodProducts.Any() && !FilteredProducts.Any())
    {
        <p class="text-center mt-3"><i>No products found.</i></p>
    }
    else
    {
        <div class="row">
            @foreach (var product in FilteredProducts)
            {
                <DisplayProduct Product=@product />
            }
        </div>
    }
}
