@page "/"
@using Blazored.Toast
@using Blazored.Toast.Services

@if (!FoodProducts.Any())
{
    <LoadingSpinner />
}
else
{
    <h3 class="mb-2">Products</h3>
    <div class="text-center">
        <input @bind-value="@searchText" @bind-value:event="oninput"
               class="mb-4"
               placeholder="Search by Product Name" />
    </div>
    if (FoodProducts.Any() && !FilteredProducts.Any())
    {
        <p class="text-center mt-3"><i>No products found.</i></p>
    }
    else
    {
        <div class="row">
            @foreach (var product in FilteredProducts)
            {
                <DisplayProduct Product=@product />
            }
        </div>
    }
}
