* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
/*    background-color: #093a75;*/
}

.main-title {
    text-align: center;
    color: white;
    font-size: 2rem;
    /*    font-family: 'Bricolage Grotesque', sans-serif;*/
    font-family: 'Itim', cursive;
}

.login-title {
/*    color: grey;*/
/*    text-align: center;*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
    margin: 0;
}

.login-description {
    font-family: 'Raleway', sans-serif;
/*    word-wrap: normal*/
    font-size: 0.9rem;
    margin: 0;
}

.login-page {
    position: absolute;
    inset: 0;
/*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: rgba(0,0,0,0.9);
}

.login-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    min-width: 25rem;
}

::deep .login-wrapper form > div {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    width: 100%;
    /* height: 20rem; */
/*    border-radius: 5px;*/
    padding: 3em 2em;
/*    border: 1px solid;*/
}

::deep input, button {
    padding: 0.8em;
    border: none;
    outline: none;
/*    height: 3em;*/
    font-size: 0.8rem;
}

button {
    /*    background: #093a75;*/
    background-image: linear-gradient(to right, rgb(5, 39, 103) 0%, #3a0647 70%);
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
    margin: 1em 0;
    /*    border-radius: 10px;*/
}

button:hover {
    cursor: pointer;    
}

label {
    color: grey;
    display: silver;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.form-input {
    width: 100%;
    display: grid;
    grid-template-columns: 8% auto;
    align-items: center;
    border: 1px solid #808080;
}

::deep .form-input input {
    background: #e8f0fd;
    flex-grow: 1;
    margin: 0;
}

.form-input i {
    background: #fff;
    margin-left: 0.4em;
}

.input-extras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reset {
    float: right;
}

label {
    display: inline-block;
}

.input-extras p {
    margin: 0;
}

.main-footer {
    text-align: center;
    color: #fff;
    margin-top: 1em;
}

.main-footer a {
/*    color: #fff;*/
}

.main-footer #home {
/*    color: #a4c9fb;*/
}
